@page "/Meals"
<div>
    <IconButton Class="add-button" ImageName="plus.png" Click="AddMealAsync" />
    <div>
        @foreach (var meal in _mealsSelection) {
            <div class="meals__meal">
                <h3 class="meals__meal__label">@meal.Name</h3>
                <IconButton Class="edit-button" ImageName="edit.png" Click="() => OpenMealEditorAsync(meal)" />
                <IconButton Class="remove-button" ImageName="minus.png" Click="() => DeleteMealAsync(meal)" />
            </div>
        }
    </div>
    <RadzenPager
        class="pager"
        @ref="_pager"
        Count="CookbookController.Cookbook.Meals.Count"
        PageSize="_pageSize"
        PageNumbersCount="6"
        PageChanged="PageChanged" />
</div>