@page "/Meals"
<RadzenCard class="dialog">
    <h2>Meals</h2>
    <IconButton Class="meals-card__button" ImageName="plus.png" Click="AddMeal" />
    <div class="meals__container">
        @foreach (var meal in _mealsSelection) {
            <div class="meals-card">
                <RadzenTextBox class="meals-card__meal"
                               @ref="TextBoxRef"
                               Value="@meal.Name"
                               Placeholder="<Name your Meal>"
                               Change="name => MealChanged(meal.Id, name)" />
                <IconButton Class="meals-card__button" ImageName="minus.png" Click="() => DeleteMeal(meal)" />
            </div>
        }
    </div>
    <RadzenPager class="meals__pager"
                 @ref="_pager"
                 Count="_count"
                 PageSize="_pageSize"
                 PageNumbersCount="5"
                 PageChanged="PageChanged" />
</RadzenCard>