@page "/randomizer"

<RadzenCard class="randomizer">
    <div class="randomizer-card">
        <h2 class="flexible-space">Planned Meals</h2>
        <img class="menu-button clickable"
             src="images/menu_black.png"
             alt="menu_black.png"
             @onclick="() => _displayMenu = true" />
    </div>
    @if (_displayMenu) {
        <MenuComponent />
        <div class="overlay" @onclick="() => _displayMenu = false"></div>
    }
    <div class="randomizer__head">
        <RadzenCheckBox class="randomizer__checkbox"
                        TValue="bool?"
                        @bind-value="@_randomize"
                        Change="UpdateAllCheckboxes" />
        <img class="randomizer__dice @(_dice.Clickable ? "clickable" : "not-clickable")"
             src="images/dice_black.png"
             alt="dice_black.png"
             @onclick="ShuffleAll"
             style="transform: rotate(@(_dice.Rotation)deg);" />
        <div class="flexible-space"></div>
        <img class="randomizer__meal-button clickable"
             src="images/edit-list.png"
             alt="edit-list.png"
             @onclick="() => _displayDishes = true" />
        <div class="fixed-space"></div>
    </div>
    <div class="randomizer__container">
        @foreach (var day in Enum.GetValues<Day>()) {
            <RandomizerCard
                @ref="CardRef"
                Day="day" />
        }
    </div>
    @if (_displayDishes) {
        <div class="overlay">
            <Meals />
            <RadzenCard class="dialog">
                <RadzenButton Text="Done" ButtonStyle="@ButtonStyle.Secondary" Click="() => _displayDishes = false" />
            </RadzenCard>
        </div>
    }
</RadzenCard>