@page "/Randomizer"

<div>
    <div class="head-with-list">
        <RadzenCheckBox class="randomizer__checkbox"
                        TValue="bool?"
                        @bind-value="@_randomize"
                        Change="UpdateAllCheckboxes" />
        <DiceComponent Dice="_dice" Click="ShuffleAll" />
    </div>
    <div class="cards-container">
        @foreach (var day in Enum.GetValues<Day>()) {
            <RandomizerCard @ref="CardRef" Day="day" />
        }
    </div>
</div>