<div>
    <div class="ingredients-card">
        <p class="card__weekday">@Day:</p>
        <p class="ingredients-card__meal">@(Meal?.Name ?? "n/A")</p>
        <IconButton Class="edit-button" ImageName="edit.png" Click="OpenMealEditor" />
    </div>
    <div>
        @foreach (var ingredient in Ingredients) {
            <div class="ingredients-card__ingredient">
                <p class="ingredients-card__ingredient__name">@ingredient.Name</p>
                <p class="ingredients-card__ingredient__amount">@ingredient.Amount</p>
            </div>
        }
    </div>
</div>