<RadzenCard class="page">
    <div class="page__card">
        <h2 class="flexible-space">
            @{
                var title = _currentPage switch {
                    Page.Meals => "Meals",
                    Page.Randomizer => "Planned Meals",
                    Page.CheckIngredients => "Check Ingredients",
                    Page.GroceryList => "Grocery List",
                    _ => throw new ArgumentOutOfRangeException()
                };
            }
            <span>@title</span>
        </h2>
        <IconButton ImageName="menu_black.png" Click="OpenMenu" />
    </div>

    <div class="page__content">
        @switch (_currentPage) {
            case Page.Meals:
                <Meals />
                break;
            case Page.Randomizer:
                <Randomizer />
                break;
            case Page.CheckIngredients:
                <CheckIngredients />
                break;
            case Page.GroceryList:
                <GroceryList />
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    </div>

    <div class="turn-pages">
        <IconButton ImageName="previous.png" Click="Previous" Clickable="_currentPage > _firstPage" />
        <span class="flexible-space"></span>
        <IconButton ImageName="next.png" Click="Next" Clickable="_currentPage < _lastPage" />
    </div>
</RadzenCard>