@page "/Dishes"
<RadzenCard class="dialog">
    <h2>Dishes</h2>
    <img class="meals-card__button clickable"
         src="images/plus.png"
         alt="plus.png"
         @onclick="AddDish" />
    <div class="meals__container">
        @foreach (var dish in _dishesSelection) {
            <div class="meals-card">
                <RadzenTextBox class="meals-card__meal"
                               @ref="TextBoxRef"
                               Value="@dish.Name"
                               Placeholder="<Name your dish>"
                               Change="name => DishChanged(dish.Id, name)" />
                <img class="meals-card__button clickable"
                     src="images/minus.png"
                     alt="minus.png"
                     @onclick="() => DeleteDish(dish)" />
            </div>
        }
    </div>
    <RadzenPager class="meals__pager"
                 @ref="_pager"
                 Count="_count"
                 PageSize="_pageSize"
                 PageNumbersCount="5"
                 PageChanged="PageChanged" />
</RadzenCard>