@page "/randomizer"

<div class="tool-window">
    <RadzenCard>
        <h2>Planned Dishes</h2>
    </RadzenCard>
    <RadzenCard>
        <div class="flex">
            <RadzenCheckBox class="flex-fixed-child-25 margin-10"
                            TValue="bool?"
                            @bind-value="@_randomize"
                            Change="UpdateAllCheckboxes" />
            <img class="flex-fixed-child-40 margin-10 @(_dice.Clickable ? "clickable" : "not-clickable")"
                 src="images/dice_black.png"
                 alt="dice_black.png"
                 @onclick="ShuffleAll"
                 style="transform: rotate(@(_dice.Rotation)deg);" />
            <div class="flex-child-1"></div>
            <img class="flex-fixed-child-40" src="images/edit-list.png" alt="edit-list.png" />
            <div class="flex-fixed-child-25"></div>
        </div>
    </RadzenCard>
    @foreach (var day in Enum.GetValues<Day>()) {
        <RandomizerCard
            @ref="CardRef"
            Day="day" />
    }
</div>